<div class="question-wrapper">
  <div class="question-container">
    <h1>質問を編集<h1>
  <div class="question-border">  
    <%=form_with model:@question, local: true do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
      <div class="question-title">
        <p><%= f.label :"タイトル" %></p>
        <%= f.text_field :title, placeholder: "100文字以内でご入力ください" %>
      </div>
      <div class="question-text">
        <p><%= f.label :"質問内容"%></p>
        <%= f.text_area :post, placeholder: "600文字以内でご入力ください" %>
      </div>
    </div>
      <div class="submit-question">
        <%= f.submit "編集する", class:"submit-tweet" %>
      </div>
    <% end %>
  </div>
</div>