<div class="message-wrapper">
  <div class="message-container">
    <%= form_with model: [@room, @message], local: true do |f|%>
    <%= render 'layouts/error_messages' ,model: f.object %>
      <div class="message-form">
        <%= f.text_area :content, class: "content-form", placeholder: "メッセージ..."%>
      </div>
      <div class="send-btn">
        <%= f.submit "Send", class: "reply-message" %>
      </div>
    <% end %>
    <%# メッセージのやりとり %>
    <div id="messages">
      <% @messages.reverse_each do |message| %>
            <div class="exchange-field">
              <div class="message-text">
              <%= image_tag message.user.image.variant(resize: "60x60"), class:"message-pic"%>
              <%= message.content %>
              </div>
              <p class="message-date"><%= message.created_at.strftime("%Y-%m-%d %H:%M:%S")%></p>
            </div>
      <% end %>
    </div>
  </div>
</div>