<h2>プロフィール編集</h2>
  <p><%= @user.nickname %></p>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

<div class="field">
  <%= f.label :nickname, "ニックネーム" %>
   <%= f.text_field :nickname, autofocus: true, class: "form-control", placeholder: "最大10文字", maxlength: 10 %>
</div>
        
<div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autocomplete: "email", class: "form-control", placeholder: "xxx@email.com" %>
</div>
       
 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
     <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
 <% end %>


  <div class="field">
    <%= f.label :image, "プロフィール画像" %><br />
     <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :introduce, "自己紹介文" %><br />
    <%= f.text_area :introduce %>     
  </div> 

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>
