  <div class="tweet-container">
    <% if current_user.image.attached?%>
      <span><%= image_tag current_user.image.variant(resize: '90x90'), class:"user-pic" %>さん、こんにちは</span>
    <% else %>
      <p class="tweet-user-nickname" ><% current_user.nickname %></p>
    <% end %>
      <%= form_with model: @tweet, url: tweet_path(@tweet), local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

       <%= f.text_area :text, class:"text-post", rows: "10" %>
        <div class="tweet-image">
         <label>
            <%= f.label :image, id: "images", class: "far fa-images fa-2x" do %>
              <%= f.file_field :images, name: 'tweet[images][]', id: "tweet_image", style:"display:none;" %>
            <% end %>
          </label>
        </div>
        <div>
          <%= f.submit "Edit", class:"submit-tweet" %>
        </div>
      
    <% end %>
