<%= form_with(url: search_tweets_path, local: true, method: :get,  class: "search-form") do |f| %>
  <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= f.submit "検索", class: "serach-btn" %>
<% end %>
<div class="contents row">
  <% @tweets.each do |tweet| %>
    <div class="tweets">
      <% tweet.images.each do |image| %>
        <span><%= image_tag image.variant(gravity: :center, resize:"450x450^", crop:"450x450+0+0").processed, class: 'images' %></span>
      <% end %>  
   
      <p><%= tweet.text %></p>
    <span class="name">
      <%= tweet.user.nickname %>
    </span>  
    <div id="like-button-<%= tweet.id %>">
      <%= render partial: 'likes/like', locals: {tweet: tweet} %>
    </div>
        <% if user_signed_in? %>
          
              <%= link_to "詳細", tweet_path(tweet.id), method: :get %>
            
           <% if current_user.id == tweet.user_id %> 
           
              <%= link_to "編集", edit_tweet_path(tweet.id), method: :get %>
          
          <% end %>
        <% end %>
      </div>  
  </div>
 <% end %>   
</div>      