<div class="contents row">
 
  <% @tweets.each do |tweet| %>
    <span><%= image_tag tweet.image %></span>
      <p><%= tweet.text %></p>
    <span class="name">
      <%= tweet.user.nickname %>
    </span>
  <% end %>     
      <ul class="more_list">
        <% if user_signed_in? %>
            <li>
              <%= link_to "詳細", tweet_path(@tweets.ids), method: :get %>
            </li>
            <li>
              <%= link_to "編集", edit_tweet_path(@tweets.ids), method: :get %>
          </li>
        <% end %>
      </ul>  
  </div>
 
</div>      