 <div class="tweet-container">
    <% if current_user.image.attached?  %>
      <span><%= image_tag current_user.image.variant(resize: '100x100'), class:"user-pic"%>さん、どんな1日でしたか?</span>
    <% else %> 
      <p class="tweet-user-nickname"><%= @tweet.user.nickname%>さん、どんな1日でしたか?<p>
    <% end %>
    <%= form_with model: @tweet, url: tweets_path, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      <%= f.text_area :text, placeholder: "How was your day?", class:"text-post", rows: "10" %>
        <div class="tweet-image">
          <label>
            <%= f.label :image, id: "images", class: "far fa-images fa-2x" do %>
              <%= f.file_field :images, name: 'tweet[images][]', id: "tweet_image", style:"display:none;" %>
            <% end %>
          </label>
        </div>
      <div>
        <%= f.submit "Tweet", class:"submit-tweet" %>
      </div>
     <div id="image-list"></div>
    <% end %>

    <% @tweet.images.each do |image| %>
      <%= image_tag image, class: 'images' %>
    <% end %>
  </div>
  