<div class="contents row">
  <div class="content-post" style="background-image: url(<%= @tweet.image %>);">
    <div class="more">
      <span><%= image_tag @tweet.image %>
      </span>
      <div class="like-icon">
        <%= render partial: 'likes/like', local {tweet: @tweet} %>
      </div>
      <ul class="more-list">
      <% if current_user.id == @tweet.user_id %>
        <li>
          <%= link_to "編集", edit_tweet_path(@tweet.id), method: :get %>
        </li>
        <li>
          <%= link_to "削除", tweet_path(@tweet.id), method: :delete %>
        </li>
       <% end %> 
      </ul>
    </div>
    <p><%= @tweet.text %><p>
    <span class="nickname"><%= @tweet.user.nickname %>
    </span>
  </div>
  <div class="container">
    <% if user_signed_in? %>
      <%= form_with model: [@tweet, @comment], local: true do |f| %>
        <%= f.text_area :comment, placeholder:"コメントする" %>
        <%= f.submit "SEND" %>
      <% end %>
    <% end %>
    <div class="comments">
      <h4>コメント一覧</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></strong>
        <%= comment.comment %>
        </p>
      <% end %>  
    </div>    
  </div>
</div>  
