  <div class="Form">
    <div class="header-container">
      <% if @user.image.attached? %>
        <span><%=image_tag @user.image.variant(resize: '500x500'), class: "user-edit-pic" %><span>
      <% else %>
        <p class="edit-user-nickname"><%= @user.nickname %>さん</p>
      <% end %>
        <div class="profile-edit" >
          <h5>プロフィール編集</h5>
        </div>
      </div>
      <%= form_with model: @user, url: user_path(@user), local: true do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>

          <p class="Form-Item-Label"><span class="Form-Item-Label-Required fas fa-user-edit"></i></span>ニックネーム</p>
          <div class="Form-Item">
            <%= f.text_field :nickname, autofocus: true, class: "Form-Item-Input", maxlength: 10 %>
          </div>

          <p class="Form-Item-Label"><span class="Form-Item-Label-Required fas fa-user-edit"></span>プロフィール画像</p>        
          <div class="Form-Item">
            <%= f.file_field :image, class: "Form-Item-Input"%>
          </div>

          <p class="Form-Item-Label"><span class="Form-Item-Label-Required fas fa-user-edit"></span>自己紹介文</p>
          <div class="Form-Item">
            <%= f.text_area :introduce, class: "Form-Item-Input"%>     
          </div> 

          <div class="actions">
            <%= f.submit "Update", class: "Form-Btn", data: {
                    confirm: '編集してよろしいですか?',
                    cencel: 'やめる',
                    commit: '編集する'}, title: '編集確認' %>
          </div> 
        <% end %>
    </div>
