<div class="contents row">
  <div class="introduce">
    <ul class="self-introduce">
      <li>
        <%= image_tag @user.image.variant(resize: '400x400') if @user.image.attached? %>
      </li>
      <li> <%= @user.nickname %></li>
      <li><%= @user.introduce %></li>
    </ul>
  </div>
  <p><%= @nickname %>さんの投稿一覧</p>
  <% @tweets.each do |tweet| %>
    <%= image_tag tweet.image.variant(resize: '600x600') %>
      <p><%= tweet.text %></p>
    </div>
  <% end %>
  <div class="follow-function">
  <% if user_signed_in? && current_user != @user %>
    <% if current_user.active_relationships.exists?(target_user_id: @user.id ) %>
      <%= link_to 'フォローをやめる', [@user, :follow], method: :delete %>
    <% else %>
      <%= link_to 'フォローする', [@user, :follow], method: :post %>
    <% end %>
   <% end %>
    <div class="follower">
      <%= link_to 'フォロー中', [@user, :followings] %>
      <%= @user.followings.count %>
    </div>
    <div class="follower">
      <%= link_to 'フォロワー', [@user, :followers] %>
      <%= @user.followers.count %>
    </div>
  </div>
</div>
