
    <%# 自己紹介エリア %>
    <div class="introduce-wrapper">
      <div class="introduce-container">
        <div class="introduce-myself">
          <span><%= image_tag @user.image, id:"introduce-pic" %></span>
          <span class="my-nickname"><%= @user.nickname %>
          <% if current_user.id == @user.id %>
            <%=link_to edit_user_path(@user) do%>
            <i class="edit-icon fas fa-user-edit">プロフィールを編集</i>
            <% end %>
          <% end %>  
          </span>
          <span class="introduce-text">
            <%= @user.introduce %>
          </span>
        </div>   
      <div class="follow-function">
        <% if user_signed_in? && current_user != @user %>
          <% if current_user.active_relationships.exists?(target_user_id: @user.id ) %>
            <%= link_to 'フォローをやめる', [@user, :follow], method: :delete, class: "under-line do-following" %>
          <% else %>
            <%= link_to 'フォローする', [@user, :follow], method: :post, class: "under-line done-followed" %>
          <% end %>
        <% end %>
        <div class="follower">
          <%= @user.followings.count %>
          <%= link_to 'Following', [@user, :followings], class: "under-line" %>
          
        </div>
        <div class="follower">
          <%= @user.followers.count %>
          <%= link_to 'Followers', [@user, :followers], class: "under-line" %>
        </div>
     </div>
    </div>
  <%# 自己紹介エリア %>

  <%# ここから投稿一覧 %>
  <div class="contents row">
    <p><%= @nickname %>さんの投稿一覧</p>
      <% @tweets.each do |tweet| %>
        <div class="tweets">
          <div class="slider">
            <% tweet.images.each do |image| %>
              <span><%= image_tag image.variant(gravity: :center, resize:"600x600").processed, class: 'images' %></span>
            <% end %>
          </div>
          <p><%= tweet.text %></p>
        </div>
     <% end %>
  </div>
