<%# <%= form_with(url: search_events_path, local: true, method: :get,  class: "search-form") do |f| %>
  <%# <%= f.text_field :keyword, placeholder: "イベントを検索する", class: "search-input" %>
  <%# <%= f.submit "検索", class: "serach-btn" %> 
<%# <% end %> 
<div class="contents row">
  <% @events.each do |event| %>
    
     <span><%= image_tag event.image.variant(gravity: :center, resize:"450x450^", crop:"450x450+0+0").processed, class: 'images' %></span>
     <h1><%= link_to event.event_name, event_path(event) %></h1>
    <ul>
      <li>
        <b>イベント名</b><%= event.event_name %>
      </li>
      <li>
        <b>開催日</b><%= event.event_date %>
      </li>
    </ul>
   
     
 <% end %>   
</div>      