
  <div class="article">
    <div class="side">
      <%= form_with(url: search_events_path, local: true, method: :get,  class: "search-form") do |f| %>
        <%= f.text_field :keyword, placeholder: "イベントを検索する", class: "search-event-input" %>
        <%= f.submit "検索", class: "search-btn" %>
      <% end %>
      <div class="boshuusuru">
       <%=link_to new_event_path,class:"under-line" do %>
          <i class="fas fa-calendar-week"> <span>イベント or 練習会を催す</span></i>
        <% end %>
      </div>
    </div>
   <div class="contents row">
      <% @events.each do |event| %>
        <div class="tweets">
          <div class="box-title">
            <%= link_to event.event_name, event_path(event), class: "under-line" %>
          </div>
          <div class="event-index-pic">
            <%= image_tag event.image.variant(resize:"350x350^").processed, class: "images" if event.image.attached? %>
          </div>
            <ul class="event-list">
              <li>
                <b>開催日 : </b><%= event.event_date %>
              </li>
              <li>
                <b>イベントの特徴 : </b><%= event.description %>
              </li>
            </ul> 
        </div>
      <% end %> 
    </div>
  </div>