<div class="Form">
    <div class="event-subject">
      <h2>新しいイベントを募集する<h2>
    </div>
    <%= form_with model: @event, url: events_path, local: true do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

     <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>イベント名</p>
        <div class="Form-Item">
          <%= f.text_field :event_name, autofocus: true, class: "Form-Item-Input" %>
        </div>
    

       <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>開催日時</p>
        <div class="Form-Item">
          <%= f.date_field :event_date,class: "Form-Item-Input" %>
          </div>
          <div class="event-date">
          <%= f.time_select :start_time, minute_step: 15, class: "Form-Item-Input" %>〜<%= f.time_select :finish_time, minute_step: 15, class: "Form-Item-Input" %>
       </div>
      
      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>カテゴリー</p>
          <div class="Form-Item">
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"Form-Item-Input", id:"event-category"}) %>
      </div>  

      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>開催地域</p>
        <div class="Form-Item">
        <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class: "Form-Item-Input", id:"event-place"}) %>
      </div>

      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>開催場所(住所)</p>
          <div class="Form-Item">
          <%= f.text_field :place_number, class: "Form-Item-Input" %>
        </div>
      

      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>集合場所</p>
          <div class="Form-Item">
          <%= f.text_field :place_name, placeholder: "詳しい場所の名前をご記入ください", class: "Form-Item-Input" %>
        </div>
        

      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>イベントの特徴</p>
          <div class="Form-Item">
          <%= f.text_area :description, placeholder: "イベント内容を記入してください", class: "Form-Item-Textarea"%>
        </div>
    

      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>申し込み期限</p>
          <div class="Form-Item">
        <%= f.date_field :deadline,class: "Form-Item-Input" %>
      </div>

      <p class="Form-Item-Label"><span class="Form-Item-Label-Required">任意</span>画像</p>
          <div class="Form-Item">
        <%= f.file_field :image, class: "Form-Item-Input" %>
      </div>

     <p class="Form-Item-Label"><span class="Form-Item-Label-Required">必須</span>エントリー費</p>
          <div class="Form-Item">
          <%= f.text_field :fee, class:"Form-Item-Input", id:"entry-price", placeholder:"例）1000円" %>
        </div>

        <p class="Form-Item-Label">エントリー手数料(10%)</p>
          <div class="Form-Item">
            <div class="Form-Item-Input" id='add-tax-fee'></div>
         </div>

        <p class="Form-Item-Label">エントリー利益(各エントリーにつき)</p>
          <div class="Form-Item">
            <span class="Form-Item-Input" id='profit'></span>
         </div>
        
      <div class="submit-btn">
        <h6>※ご記入内容にお間違いがないかもう一度ご確認ください</h6>
        <%= f.submit "募集内容を投稿する", class: 'Form-Btn'%>
      </div>
    <% end %>
  </div>
</div>    