<!DOCTYPE html>
<html>
  <head>
    <title>Original35700</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <%= javascript_pack_tag 'application' %>

    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
   <header class="header-3">
      <div class="notifications">
        <%flash.each do |key, value|%>
          <%= content_tag(:div, value, class: key) %>
        <% end %>
      </div>    
      <div class="header-inner">
      
        <h1 class="logo"><%= link_to root_path, class: "under-line" do %>
         <i class="fas fa-running fa-lg"></i>
         RUNTweet
         </h1>
        <% end %>
        <% if user_signed_in? %>
        <span><%= image_tag current_user.image, class:"user-pic header-pic" %></span>
        <% end %>
        
        <nav class="header-nav">
        <% if user_signed_in? %>
        
            <span><%=  %></span>

             <input type="checkbox" id="cp_navimenuid">
             <label class="menu" for="cp_navimenuid">

            <div class="menubar">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
           
            <ul>
              <li class="a" >
                <%= link_to "マイページ", user_path(current_user.id), class: "" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
               <%= link_to "編集する",  edit_user_path(current_user), method: :get %>
              </li>
            </ul>
        <% else %>
            <nav class="header-nav">
             <input type="checkbox" id="cp_navimenuid">
             <label class="menu" for="cp_navimenuid">

            <div class="menubar">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
          <ul>
            <li class="a">
              <%= link_to "ログイン", new_user_session_path, class: "post" %>
              <%= link_to "新規登録", new_user_registration_path, class: "post" %>
            </li>
          </ul>
        <% end %>
        </nav>
        </label>

      </div>
    </header>
    <%= yield %>
    <footer>
    </footer>
  </body>
</html>
